<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Cambio el icono -->
    <queries>
        <package android:name="com.google.android.gms" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/harvest_ico"
        android:label="HarvestHub"
        android:roundIcon="@mipmap/harvest_ico_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoDAMII"
        tools:targetApi="31">
        <activity
            android:name=".Direccion"
            android:exported="false" />
        <activity
            android:name=".Checkout"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBr7TxWhQWGk4Kl6NsSFd4mKAJrwhMCsVk" />

        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registro" />
        <activity android:name=".Inicio" />
        <activity android:name=".Ajustes" />
        <activity android:name=".Mapa" />
        <activity android:name=".Metodo_Pago" />
    </application>

</manifest>